@charset "UTF-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;

}

img {
    max-width: 100%;
}

header {
    text-align: center;
}

body {
    margin: 0;
}

.hero-box img {
    display: block;
    width: 100%;
    height: 100%;
    animation: heroFadeUp 1.0s ease-out forwards;
}

.hero-box {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@keyframes heroFadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Yuji Mai", serif;
    font-size: 10.0rem;
    line-height: 10.0rem;
    color: white;
    -webkit-text-stroke: 2px #000;
    text-shadow:
    2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    0 6px 18px rgba(0,0,0,.35);
    animation: logoFadeUp 1.8s ease-out forwards;
}

@keyframes logoFadeUp {
  from {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 120px 20px 150px;
    margin: 0;
    background-color: black;
}

ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;

}

nav ul li a:hover {
    text-decoration: underline;
    color: yellow;
}



main p,main th,main td {
    font-size: 1.1rem;
}

.menu, .tennpo, .syousai {
    padding: 40px 0 80px;
}


.syoukai {
    text-align: center;
    margin: 0;
    padding: 80px 0;
    background-color: brown;
    color: white;
}

.syoukai-text {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
}


.menu h2 {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 3px solid brown;
    margin: 0 0 30px 0;
}

.menu-img {
    width: 55%;
    height: 500px;
}

.menu-one {
    display: flex;
    gap: 50px;
}

.menu-two {
    margin: auto;
    display: flex;
    flex-direction: column
}

.menu a {
    text-align: center;
    align-self: center;   
    margin: 50px auto 0;
    padding: 20px;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    color: yellow;
}


.tennpo h2 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    border-bottom: 3px solid white;
    margin: 0 0 30px 0;
}

.tennpo {
    background-color: brown;
}

.tennpo-img {
    width: 55%;
    height: 500px;
}

.tennpo-one {
    display: flex;
    gap: 50px;
    margin: 0 0 0 20px;
    color: white;
}

.tennpo-two {
    margin: auto;
    display: flex;
    flex-direction: column
}

.tennpo a {
    text-align: center;
    align-self: center;   
    margin: 50px auto 0;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

.tennpo a:hover {
    text-decoration: underline;
    color: brown;
}



.syousai h2 {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 3px solid brown;
    margin: 0 0 30px 0;
}

table {
    text-align: center;
    margin: 10px auto;
    height: 700px;
    border-collapse: collapse;

}

table tr td {
    border-bottom: 1px solid rgb(135, 135, 135);
    width: 300px;
}

table tr th {
    border-bottom: 1px solid rgb(135, 135, 135);
    width: 150px;

}

footer {
    text-align: center;
    color: white;
    background-color: brown;
    margin: 0;
    padding: 80px 0;
}



.fade-up {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-up.is-show {
  opacity: 1;
  transform: translateY(0);
}
